PORT=8080
GCP_PROJECT_ID=replace-me
SPANNER_INSTANCE=url-shortner-spanner
SPANNER_DATABASE=url_shortner
PUBSUB_TOPIC_CLICKS=url-clicks
REDIS_HOST=127.0.0.1
REDIS_PORT=6379
REDIS_PASSWORD=
CACHE_TTL_SECONDS=300
